---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Card, Pagination } from 'accessible-astro-components'
import { getCollection } from 'astro:content'
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blog')

  posts.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())

  return paginate(posts, { pageSize: 6 })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { page } = Astro.props
---

<DefaultLayout title="Blog" description="Articles about web development, performance, and open source.">
  <PageHeader title="Blog" subtitle="Articles about web development, performance, and open source." bgType="bordered" />

  <section class="my-12">
    <div class="container">
      <p class="text-sm"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p>
      <ul class="my-3 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          page.data.map((post) => (
            <li>
              <Card
                url={'/blog/' + post.id}
                title={post.data.title}
                imageComponent={post.data.featuredImage}
                headingLevel="h2"
                footer={post.data.publishDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
                fullHeight={true}
              >
                {post.data.description}
              </Card>
            </li>
          ))
        }
      </ul>
      {
        page && page.lastPage > 1 && (
          <div class="mt-12 grid place-content-center">
            <Pagination
              firstPage={page.url.prev ? '/blog' : null}
              previousPage={page.url.prev ? page.url.prev : null}
              nextPage={page.url.next ? page.url.next : null}
              lastPage={page.url.next ? `/blog/${page.lastPage}` : null}
              currentPage={`${page.currentPage}`}
              totalPages={`${page.lastPage}`}
              ariaLabel="Blog pagination"
            />
          </div>
        )
      }
    </div>
  </section>
</DefaultLayout>
