---
/**
 * SiteMeta Component
 *
 * @description Component to handle site metadata and essential head elements
 */
interface Props {
  title: string
  description: string
  url: string
  image: string
  imageWidth?: number
  imageHeight?: number
  author?: string
}

const { title, description, url, image, imageWidth = 1200, imageHeight = 630, author = 'Ilias Trichopoulos' } = Astro.props

let subtitle = 'Ilias Trichopoulos'
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={`${Astro.site}${image}`} />
<meta property="og:image:width" content={`${imageWidth}`} />
<meta property="og:image:height" content={`${imageHeight}`} />

<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={`${title} - ${subtitle}`} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={`${Astro.site}${image}`} />

<!-- page title -->
<title>{title} - {subtitle}</title>
